#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  background-color: rgb(62, 62, 62);
  border-radius: 8px;
  padding: 16px;
  place-content: center;
}

