* {
  /* border: 1px solid red;    */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.contactCardContainer {
  display: flex;
  flex-wrap: wrap; 
  gap: 16px;
  align-items: center;
  justify-content: center;
}
